body {
  background: #a7bcb9;
}

a {
  color: #aa1111;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-size: 11px;
  font-weight: 400;
}

.App p {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.App p .source {
  text-decoration: underline;
  color: black;
}
