.Dictionary section {
  background: #e0ebeb;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary .search,
input {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
}

.Dictionary input {
  width: 100%;
  border: 2px #aa1111 solid;
  padding: 6px 10px;
  border-radius: 6px;
}

.Dictionary .hint {
  color: white;
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary .search input {
  color: white;
}
