.Phonetic {
  margin: 18px 0 30px 0;
}

.Phonetic a {
  border: 1px solid #aa1111;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in;
}

.Phonetic a:hover {
  background: #aa1111;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: 600;
}

.Phonetic .button {
  display: inline-block;
}

button {
  background-color: white;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
  color: #aa1111;
  transition: all 180ms ease-in-out;
}

button:hover {
  background: #aa1111;
  color: white;
  border-radius: 5px;
}
